@font-face {
    font-family: "mono100";
    src: url("/fonts/mono.woff") format(woff);
}

html{
    font-family: sans-serif;
}

body {
    background-color: #363636;
    margin: 0;
}

h1 {
    color: white;
    font-size: 72px;
    font-family: "mono100",sans-serif;
    margin: 20;
    margin: 15px;
    width: 520px;
}

h2{
    color: white;
    font-size: 16;
    font-family: 'Montserrat', sans-serif;
}

h3{
    color: white;
    font-size: 16;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 20px;
    color: white;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
}

p > a{
    font-size: 48px;
    color: #ff2323;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    background-color:#2F2F2F;
    margin: 0px;
    font-size: 24px;
    
    box-shadow: 0px -20px 60px;
    justify-content: space-between;
    
}

.header > div{
    margin: 0 15px;
    display: flex;
    border-right: solid rgba(192, 192, 192, 0.2);
    border-width: 1px;
    cursor: pointer;
    align-items: center;
    
}

.header > div:focus{
    opacity: 0.9;
}

.header > div.right{
   margin-left: auto;
   border-left: solid rgba(192, 192, 192, 0.2);
    border-width: 1px;
}

.Layer1{
    position:absolute; left:100px; top: 340px; width: 100%; z-index:-1
}

.Layer2{
    position:absolute; left:50px; top:350px; width:100%; z-index:-2
}

.miniatures{
    border: solid 15px; width: 100px; height: 100px;
    margin: 15px;
    display: block;
}

.img-miniature{
    display: flex;
}

.texte{
    width: 200px;
    width: 405px;
}

.partie-de-droite{
    display: block;
    background-color: #FF4040;
    height: 938px;
    width: 537px;
}

.partie-de-droite > div{
    margin: 35px;
}

.haut-de-page{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}